.logo {
  width: 91px;
}

.logo img {
  width: 100%;
}

.cart-header-icon {
  color: var(--dark-text);
  cursor: pointer;
  position: relative;
}

.cart-header-icon:hover {
  color: var(--dark-blue);
}

.hedaer-shover {
  position: absolute;
  right: 0%;
  top: 160%;
  background-color: var(--pure-white);
  border: 1px solid var(--light-grey);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  z-index: 1000;
  text-align: center;
  cursor: text;
  visibility: hidden;
  transform: scale(0%);
}

.cart-header-icon:hover .hedaer-shover {
  visibility: visible;
  transform: scale(100%);
  transition: 0.3s;
}
.header {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.header-shover-text {
  color: var(--grey);
}

.header-shover-link {
  color: var(--dark-blue);
}

.course-header {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
  color: var(--pure-white);
  background-color: var(--dark-text);
}

.course-header .rating-header {
  color: var(--cream);
}

.course-header .rating-count-header {
  color: var(--light-blue);
  text-decoration: underline;
}

.toggle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  animation-name: opacity;
  animation-duration: 0.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .toggle {
    display: none !important;
  }
}
